body {
    background: linear-gradient(to bottom, #1d2671, #c33764);
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.game {
    background: rgba(0, 0, 0, 0.8);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 100%;
    max-width: 400px; /* Garantir que o tamanho do jogo seja adequado para telas pequenas */
}

.rolos {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.rolo {
    width: 80px;
    height: 80px;
    background-color: #333;
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.rolo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    cursor: pointer;
    transition: transform 0.2s;
}

button.disabled {
    background: gray;
    cursor: not-allowed;
}

button:hover:not(.disabled) {
    transform: scale(1.05);
}

#resultado {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

/* Ajuste do botão girar */
.painel-controle button.mb-3 {
    margin-bottom: 20px; /* Garantir o espaçamento adequado */
}

.form-range {
    width: 100%;
}

.w-100 {
    width: 100%;
}
